@import "../../node_modules/bootstrap";

.imgTrick {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.buttonDetail {
  position: absolute;
  bottom: 0;
}

.cardfooter {
  background: transparent;
  border-top: 0px;
}

body {
  /* 
    background: repeat
    url("http://prettypoun.p.r.pic.centerblog.net/13852b7b.gif");
    */
  padding-bottom: 100px;
}
